.charSheet{
    background: rgba(white, .4);
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.list {
    .list-content{
        font-family: cursive;
    }
    h3{
    text-decoration: underline;
    font-family: 'Gugi', cursive;
    padding: 5px;
    }
}